In [1]:
-- comment

--[[
line 1 comment
line 2 comment
]]

In [3]:
num = 42

In [4]:
num

42

In [10]:
-- +, -, *, %
8 % 5

3

In [11]:
-- math function
math.abs(5 - 7)

2

In [12]:
-- string
s = 'this is a string'
t = "double-quote string"

In [15]:
u = [[
multi-line
string
definition
]]

In [16]:
u

multi-line
string
definition

In [17]:
-- delete a defined varible
u = nil

In [18]:
who()

== User Variables ==
[itorch]                 = table - size: 0
[t]                      = string : "double-quote string"
[xerror]                 = function: 0x41cdd388
[sys]                    = table - size: 0
[xprint]                 = function: 0x41bbd8b8
[num]                    = 42
[image]                  = table - size: 0
[loop]                   = table - size: 0
[crypto]                 = table - size: 0
[xrequire]               = function: 0x41cdd3e8
[xlua]                   = table - size: 0
[s]                      = string : "this is a string"
[base64]                 = table - size: 0
==

In [19]:
-- loops
while num < 50 do
    num = num + 1
    end

In [20]:
num

50

In [21]:
for i = 1, 5 do
    io.write(i .. ' ')
    end

1 2 3 4 5

In [22]:
for i = 5, 1 , -1 do
    io.write(i .. ' ')
    end

5 4 3 2 1

In [23]:
-- ipairs
for i, v in ipairs {'a', 'b', 'c', 'd'} do
    print(i, v)
    end

1	a
2	b
3	c
4	d

In [24]:
for k, v in pairs {a = 3, b = 5, c = 8, d = 2} do
    print(k, v)
    end

a	3
b	5
d	2
c	8

In [27]:
-- tables: list/array, dictionay

-- list
t1 = {'a', 2, true, 3, 'string1'}

In [28]:
t1

{
  1 : a
  2 : 2
  3 : true
  4 : 3
  5 : string1
}

In [29]:
t1[4]

3

In [30]:
t1[4] = false

In [31]:
t1

{
  1 : a
  2 : 2
  3 : true
  4 : false
  5 : string1
}

In [33]:
-- dictionay, ore generic table
t2 = {abc = 4, def = 9, [3] =  'absd'}

In [34]:
t2

{
  def : 9
  abc : 4
  3 : absd
}

In [35]:
t2[3]

absd

In [36]:
t2['abc']

4

In [37]:
t2.abc

4

In [38]:
table.insert(t1, 8)

In [39]:
t1

{
  1 : a
  2 : 2
  3 : true
  4 : false
  5 : string1
  6 : 8
}

In [40]:
-- use hash operator gives the length of list
#t1

6

In [41]:
t1[#t1 + 1] = 'new value'

In [42]:
t1

{
  1 : a
  2 : 2
  3 : true
  4 : false
  5 : string1
  6 : 8
  7 : new value
}

In [43]:
-- But, if insert elements not in sequence way, changd to generic list (table)
-- ipairs not works on it
t1[9] = true

In [44]:
t1

{
  1 : a
  2 : 2
  3 : true
  4 : false
  5 : string1
  6 : 8
  7 : new value
  9 : true
}

In [45]:
t2.item = 'a new value'

In [46]:
t2

{
  item : a new value
  def : 9
  abc : 4
  3 : absd
}

In [47]:
-- functions and conditional statements
function f(x)
    if x then 
        print('True!', x)
    else
        print('False!', x)
    end
end

#### only nil considered as false, others such as bollean, numeric, string, list considered as true

In [48]:
f(true)

True!	true

In [49]:
f(false)

False!	false

In [50]:
f(nil)

False!	nil

In [51]:
f(4)

True!	4

In [52]:
f('string')

True!	string

In [53]:
f({1,2,3})

True!	{
  1 : 1
  2 : 2
  3 : 3
}

In [54]:
-- useful to determine whether the variable is defined
function g(x)
    x = x or 'undefined'
    print(x)
end

In [55]:
g(3)

3

In [56]:
g()

undefined

In [57]:
g(false)

undefined

In [58]:
-- incline if statement
function h(x)
    print(x > 0 and '+' or '-')
end

In [59]:
h(3)

+

In [60]:
h(-9)

-

In [61]:
function adder(x)
    return function(y) return x + y end
end

In [62]:
a = adder(5)

In [63]:
-- a still is a function
a

function: 0x40e21ca0

In [64]:
a(2)

7

In [71]:
-- modules mod.lua
mod = require 'mod'

In [72]:
mod

{
  sayHello : function: 0x41bc8bb0
}

In [73]:
mod.sayHello()

Hello There
Mil

In [76]:
-- notice: require 'mod' only run once even mod.lua is modified
-- to load module repeatedly, use dofile

mod = dofile 'mod.lua'

All mode loaded!

In [78]:
-- no additional output, jst load the file
f = loadfile 'mod.lua'

In [79]:
f

function: 0x40d8e688

In [80]:
g = loadstring 'print(123)'

In [81]:
g

function: 0x418bdd10

In [82]:
g()

123